.project

  %h2= contribution['project'].name
  =image_tag('ribbon_team.png', :class => 'ribbon') if contribution['member']
  =image_tag('ribbon_owner.png', :class => 'ribbon') if contribution['owner']

  -if contribution['project'].owner.login != @contributor.login
    Owned by
    = link_to(contribution['project'].owner.name, contributor_path(contribution['project'].owner.login))

  %p= contribution['project'].description

  -if contribution['commits']
    %ul.details
      %li
        %strong commits
        %span= "#{contribution['commits']}/#{contribution['project'].commits} (#{number_to_percentage(contribution['commits'].to_f / contribution['project'].commits.to_f * 100, :precision => 2)})"
      -if contribution['started_at'].to_date.strftime("%B %Y") == contribution['stopped_at'].to_date.strftime("%B %Y")
        %li
          %strong in
          %span=contribution['started_at'].to_date.strftime("%B %Y")
      -else
        %li
          %strong from
          %span=contribution['started_at'].to_date.strftime("%B %Y")
        %li
          %strong to
          %span=contribution['stopped_at'].to_date.strftime("%B %Y")
