%h1= @contributor.name

%ul#contributions
  - @contributions.each do |contribution|
    .project
      %h1= contribution['project'].name
      = "Owned by #{contribution['project'].owner.name}"
      %strong Commits
      %span= "#{contribution['commits']}/#{contribution['project'].commits}"
      = contribution['started_at']
      = contribution['stopped_at']
